<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--First Servlet Program Definition using Servlet interface -->
 <servlet>
    <servlet-name>FirstProgram</servlet-name>
    <servlet-class>com.example.FirstProgram</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FirstProgram</servlet-name>
    <url-pattern>/firstProgram</url-pattern>
</servlet-mapping>

<!-- Second Servlet Program Definition using GenericServlet-->
<servlet>
<servlet-name>second</servlet-name>
    <servlet-class>com.example.SecondProgram</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/secondProgramGeneric</url-pattern>
</servlet-mapping>

<!-- Third Servlet Program Definition by using HttpServlet -->
<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.example.ThirdPrgram</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/thirdProgramHttpServleet</url-pattern>
</servlet-mapping>


    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
